<launch>
  <!-- Arguments -->
  <arg name="map_path" default="$(find mw_mapping)/maps/mowito_map.yaml"/>
  <arg name="respawn" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="world_name" default="mowito"/>
  <arg name="gui" default="true"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <arg name="scan_topic" default="/scan"/>
  <arg name="laser_frame" default="/base_scan" />
  <arg name="base_frame" default="base_link" />
  <arg name="slam_toolbox" default="false" />
  <arg name ="localization" default="true"/>
  <arg name="map_file_name" default="slam_map"/>
  <arg name="map_start_pose" default="[-1.85303472591, -0.614965263423, 0.0]"/>

  <arg name="map_file" default="$(find mowito_turtlebot)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>


  <!-- NAVIGATION -->
  <group unless="$(arg slam_toolbox)">
  <include file="$(find mowito_turtlebot)/launch/secondary_launch/start_mwpfl.launch">
        <arg name="map_address" value="$(arg map_file)"/>
        <arg name="robot_init_x" value="-1.85303472591"/>
        <arg name="robot_init_y" value="-0.614965263423"/>
        <arg name="robot_init_phi" value="0"/>
        <arg name="scan_topic" value="$(arg scan_topic)"/>
        <arg name="laser_frame" value="$(arg laser_frame)" />
        <arg name="sim" value="true"/>
  </include>
  </group>

  <group if="$(arg slam_toolbox)">
  <include file="$(find mowito_turtlebot)/launch/secondary_launch/start_slam_toolbox.launch">
        <arg name="localization" value="$(arg localization)"/>
        <arg name="map_file_name" value="$(arg map_file_name)"/>
        <arg name="map_start_pose" default="$(arg map_start_pose)"/>
  </include>
  </group>
  <!-- mowito nav server -->
  <include file="$(find mowito_turtlebot)/launch/secondary_launch/start_nav_server.launch">
      <arg name="mission_executive_config" value="$(find mowito_turtlebot)/config/mission_executive_config/mission_executive_params.yaml"/>
      <arg name="respawn" value="$(arg respawn)"/>
      <arg name="gp_debug" value="$(arg debug)"/>
      <arg name="ctrl_debug" value="$(arg debug)"/>  
      <!-- <arg name="ctrl_debug" value="true"/>   -->
      <arg name="rcvr_debug" value="$(arg debug)"/>        
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find mowito_turtlebot)/rviz/turtlebot3_mowito.rviz"/>
  </group>
</launch>
