<launch>

    <arg name="scan_topic" default="/scan" /> 
    <arg name="laser_frame" default="/base_scan" />
    <!-- <arg name="laser_frame" default="base_laser_link" /> -->
    <arg name="odom_frame" default="odom" />
    <arg name="base_frame" default="base_link" />
    <!-- <arg name="base_frame" default="base_frame" /> -->
    <arg name="map_frame" default="map" />
    <arg name="debug" default="false" />
    <arg name="output_log" default="screen"/>
    <arg name="tuning_from_bag" default="false"/>
    <arg name="mw_mapping_config" default="$(find mowito_turtlebot)/config/mw_mapping_config/mw_mapping.yaml"/>


    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find mw_mapping)/custom_config.conf" if="$(arg debug)"/>

    <group if="$(arg tuning_from_bag)">
        <param name="/use_sim_time" value="true"/>
        <node pkg="utils" type="msg_to_tf" name="msg_to_tf">
            <param name="odometry_topic" value="/odom"/>
            <!-- <param name="pose_topic" value="pose"/> -->
            <param name="child_frame_id" value="$(arg base_frame)"/>  
        </node>
        <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0 0 0 0  $(arg base_frame) $(arg laser_frame) 100" />
    </group>

    <node pkg="mw_mapping" type="mw_mapping" name="mw_mapping" output="$(arg output_log)">

        <param name="map_update_interval" value="5.0"/> <!-- default: 5.0 -->

        <param name="odom_frame" value="$(arg odom_frame)" />
        <param name="map_frame" value="$(arg map_frame)" />    
        <param name="base_frame" value="$(arg base_frame)" />
        <remap from="scan" to="$(arg scan_topic)"/>

        <rosparam command="load" file="$(arg mw_mapping_config)"/>

    </node>

</launch>
