<launch>
  <!-- Arguments -->
  <arg name="map_path" default="$(find mw_mapping)/maps/mowito_map.yaml"/>
  <arg name="respawn" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="world_name" default="mowito"/>
  <arg name="gui" default="true"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <arg name="map_file" default="$(find mowito_files)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>


  <!-- NAVIGATION -->
  <include file="$(find mowito_files)/launch/secondary_launch/start_mwpfl.launch">
        <arg name="map_address" value="$(arg map_file)"/>
        <arg name="robot_init_x" value="0"/>
        <arg name="robot_init_y" value="0"/>
        <arg name="robot_init_phi" value="0"/>
        <arg name="sim" value="true"/>
  </include>

  <!-- mowito nav server -->
    <include file="$(find mowito_files)/launch/secondary_launch/start_nav_server.launch">
        <arg name="mission_executive_config" value="$(find mowito_files)/config/mission_executive_config/mission_executive_params.yaml"/>
        <arg name="respawn" value="$(arg respawn)"/>
        <arg name="gp_debug" value="$(arg debug)"/>
        <arg name="ctrl_debug" value="$(arg debug)"/>  
        <arg name="rcvr_debug" value="$(arg debug)"/>        
    </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find mowito_files)/rviz/turtlebot3_mowito.rviz"/>
  </group>
</launch>